.flex {
    display: flex;
    background-color: rgb(150, 172, 150);
    flex-wrap: wrap;
    flex-direction: column;
    height: 50vh;
    align-items: center;
}

.flex-filho {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    height: 60%;
    width: 55%;
    text-align: center;
    margin: 3%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.barra {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 10%;
    height: 60%;
    border-bottom: 3px solid black;
    width: 90%;
}

.image {
    background-color: gray;
    height: 80%;
    width: 30%;
    border: 2px solid black;
    background-image: url(images/perfil.png);
    background-size: cover;
    
}

.description {
    margin-left: 5%;
    background-color: lightgray;
    border: 2px solid black;
    width: 70%;
    height: 80%;
    color: black;
}

.description h3 {
    height: 5%;
    margin-top: 0;
    padding-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.description p {
    text-align: justify;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.detalhes {
    position: relative;
    height: 0;
    margin-left: -63%;
    bottom: 10%;
    text-align: left;
}




/*--------------Footer-------------------*/ 

*{
    font-family: 'inter',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

footer{
    width: 100%;
    color: var(--color-neutral-40);
    border-top: 1px solid black;
}

.footer_link{
    text-decoration: none;
}

#footer_content{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;


}

#footer_contacts h2{
    margin-bottom: 0.75em;
    color: #000;
}
#footer_contacts p{
    color: #000;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius:50%;
    transition: all 0.4s;
}
#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
}

#facebook{
    background: #4267b3;
}

#whatsapp{
    background:#25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    
}

.footer-list .footer_link{
    color: var(--color-neutral-0);
    transition: all 0.4s;
}
.footer-list h3{
    color: #0e0c0c;
}

.footer-list h3:hover{
    color:rgb(16, 107, 16) ;
}

.footer-list a{
    color: black;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe {
    color: black;
}

#input_group{
    display: flex;
    align-items: center;
    border-radius: 4px;
}

#input_group input{

    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input_group  button{
    background-color: rgb(7, 104, 7);
    border: 1px solid black;
    color: var(--color-neutral-40);
    font-size: 1.125rem;
    padding: 0px 1.125rem;
    height: 100%;
    border-radius: 2px 4px 4px 2px;
    cursor: pointer;
    transition: all 0.4s;
    width: 70%;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    color: #000;
    border-top:1px solid black;
    background-color: white;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}


@media screen and (max-width:768px) {


    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
}

@media screen and (max-width:426px) {


    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    
}

@media screen and (max-width: 768px) {
    .flex-filho {
        width: 90%; /* Ajustado para 90% em telas menores */
    }
    
    .detalhes li{
        margin-left: 10px;
    }
    
    .image {
        width: 30%; /* Largura total em telas menores */
    }

    .description {
        width: 100%; /* Largura total em telas menores */
        margin-left: 10; /* Removida a margem em telas menores */
    }

    .detalhes {
        margin-left: 10; /* Removida a margem em telas menores */
    }
}

@media screen and (max-width: 500px) {

    .image{
        display: none;
    }

    .description{
        margin-left: 0;
    }

    .detalhes{
        list-style: none;
    }

}
