* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(150, 172, 150);
}

/*--------------------------- Nav Bar--------------------------------- */
.links {
    color: black;
    text-decoration: none;
    transition: 0.4s;
    background: white;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: rgb(2, 66, 2);
}

.logo {
    width: 225px;
    margin: 0 auto;
}

nav {
    display: flex;
    background: white;
    height: 18vh;
    border-bottom: 2px solid black;
}

.links-navbar {
    height: 40px;
}

.links-navbar ul {
    justify-content: center;
    display: flex;
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 1px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-right: 32px;
}

.nav-list li a {
    padding: 10px 25px;
    border-top: 0px;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-top: 0px;
}

#ativado {
    display: flex;
    background: rgb(3, 58, 3);
    border-radius: 25px;
    border-top: 0px;
}

#ativado a {
    color: white;
}

#ativado a:hover {
    color: rgb(192, 192, 56);
}





/*--------------------Horários-------------------------*/


#conteudo {
    padding: 3%;
}


.titulo-horario h1 {
    background-color: #ebcd8f;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-horario {

    padding-left: 100px;
}

#tabela-horario {
    padding-left: 150px;
}


table {
    margin: 40px 30px 0px 30px;
    border: 1px solid black;
    background: white;
    width: 100%;
    max-width: 900px;
    /* border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    */
    border-radius: 25px;
}


tr {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
}


th {
    border-radius: 25px;
}

thead th {
    background: rgb(3, 58, 3);
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

td,
th {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 25px;
}

/*-----------------------Media Queries-----------------------*/
@media (min-width: 200px) and (max-width: 320px) {

    nav {
        height: 15vh;
    }

    .logo {
        width: 190px;
    }

    .links-navbar ul {
        height: 29px;
    }

    .nav-list li {
        letter-spacing: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .nav-list li a {
        padding: 5px 7px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 400;
        font-size: smaller;
    }

    .nav-list li {
        white-space: nowrap;
    }

    /*---horario queries-----*/

    .titulo-horario h1 {
        width: 65px;
        height: 20px;
        padding: 2px;
        font-size: medium;
    }

    .titulo-horario {
        padding-left: 10px;
    }

    #tabela-horario {
        padding-left: 2px;
    }


    table {
        margin: 20px 0px 2px;
        border: 1px solid black;
        background: white;
        width: 250px;
        /* border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        */
        border-radius: 25px;
    }

    tr {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: small;
    }

    td,
    th {
        padding: 4px 20px;
        border: 1px solid black;
        border-radius: 25px;
    }


}

@media (min-width: 321px) and (max-width: 600px) {

    nav {
        height: 15vh;
    }

    .logo {
        width: 190px;
    }

    .links-navbar ul {
        height: 29px;
    }

    .nav-list li {
        letter-spacing: 0px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .nav-list li a {
        padding: 5px 7px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 500;
        font-size: smaller;
    }

    .nav-list li {
        white-space: nowrap;
    }

    /*Horario queries---*/

    #conteudo {
        margin: 10px;
    }

    .titulo-horario h1 {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: small;
        text-align: center;
    }

    .titulo-horario {
        padding-left: 0;
        width: 20%;
    }

    #tabela-horario {
        padding-left: 0;
    }

    table {
        margin: 10px 0;
        width: 100%;
    }

    tr {
        font-weight: 500;
        font-size: small;
    }

    td,
    th {
        padding: 3px 10px;
    }

}


@media (min-width: 520px) and (max-width: 920px) {


    .logo {

        width: 205px;
    }

    .links-navbar ul {
        height: 40px;
    }

    .nav-list li {
        letter-spacing: 2px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-list li a {
        padding: 10px 15px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 500;
    }

    .nav-list li {
        white-space: nowrap;
    }

    /*Horario queries---*/

    #conteudo {
        margin: 10px;
    }

    .titulo-horario h1 {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: large;
        text-align: center;
    }

    .titulo-horario {
        padding-left: 0;
        width: 20%;
        margin-top: 55px;
    }

    #tabela-horario {
        padding-left: 0;
    }

    table {
        margin: 10px 0;
        width: 100%;
    }

    tr {
        font-weight: 500;
        font-size: larger;
    }

    td,
    th {
        padding: 3px 10px;
    }



    

}

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=PT+Sans:ital@1&family=Poppins:wght@300&family=Sigmar&family=Vina+Sans&display=swap');



#tagRodape {
    width: 100%;
}

footer {
    color: #fff;
    background-image: linear-gradient(to bottom, #070608, #06230d);
    position: relative;
    font-size: 0.8rem;
    margin-top: 5%; /* Reduzi o espaçamento superior */
    padding: 2%; /* Reduzi o preenchimento para torná-lo mais compacto */
}

.main {
    display: grid;
    gap: 20px; /* Reduzi o espaçamento entre as seções */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Permitir que as seções tenham no mínimo 250px e se ajustem automaticamente */
}

.row {
    margin-top: 10px; /* Reduzi o espaçamento superior nas linhas */
}

.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-header h3 {
    font-size: 1.5rem; /* Reduzi o tamanho da fonte do cabeçalho */
    margin-bottom: 10px; /* Reduzi o espaçamento inferior */
}

.contato {
    margin-top: -20px; /* Ajustei o espaçamento superior */
    font-size: 1.5em;
}

.footer-links {
    margin-bottom: 5px; /* Reduzi o espaçamento inferior nas links */
}

.office-des {
    text-align: center;
}

.office a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.office a:hover {
    color: #06230d;
}
.link {
    align-items: center; /* Centraliza os elementos na coluna */   
}

.link-des {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-des a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 15px;
    width: 70%;
}

.link-des a:hover {
    color: #8de6a2;
    transition: linear 0.3s;
}

.icons a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    justify-content: center;
    padding: 8px; /* Reduzi o preenchimento dos ícones */
    border-radius: 50%;
    font-size: 1rem;
    margin: 2%;
}

.icons a:hover {
    color: #fff;
    background-color: #06230d;
    border-color: #06230d;
}

.newsletter-des {
    align-items: center;
    text-align: center;
    margin-top: 19px; /* Reduzi o espaçamento superior */
}

.copyright-area {
    width: 100%;
    grid-column: 1/4;
    margin-top: 20px;
}

.copyright-area p {
    width: 100%;
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
}

