* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(150, 172, 150);
}

#main{
    height: 20vh;
}

/*--------------------------- Nav Bar--------------------------------- */
.links {
    color: black;
    text-decoration: none;
    transition: 0.4s;
    background: white;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.4s;
}

a:hover {
    color: rgb(2, 66, 2);
}

.logo {
    width: 225px;
    margin: 0 auto;
}

nav {
    display: flex;
    background: white;
    height: 18vh;
    border-bottom: 2px solid black;
}

.links-navbar {
    height: 40px;
}

.links-navbar ul {
    justify-content: center;
    display: flex;
    height: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-top: 1px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    margin-right: 32px;
}

.nav-list li a {
    padding: 10px 25px;
    border-top: 0px;
    border-radius: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    border: 2px solid black;
    border-top: 0px;
}

#ativado {
    display: flex;
    background: rgb(3, 58, 3);
    border-radius: 25px;
    border-top: 0px;
}

#ativado a {
    color: white;
}

#ativado a:hover {
    color: rgb(192, 192, 56);
}





/*--------------------Horários-------------------------*/


#conteudo {
    padding: 3%;
}


.titulo-horario h1 {
    background-color: #ebcd8f;
    width: 150px;
    height: 40px;
    text-align: center;
    padding: 2px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-horario {

    padding-left: 100px;
    padding-top: 50px;
}

/*------------------------------------------*/
#tabela-horario {
    padding-left: 150px;
    padding-bottom: 85px;
    padding-right: 150px;
    padding-top: 60px;
}
/*------------------------------------------*/


table {
    margin: 40px 30px 0px 30px;
    border: 1px solid black;
    background: white;
    width: 100%;
    max-width: 900px;
    /* border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    */
    border-radius: 25px;
}


tr {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: larger;
    height: 50px;
}


th {
    border-radius: 25px;
}

thead th {
    background: rgb(3, 58, 3);
    color: #fff;
    font-weight: bold;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

td,
th {
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 25px;
}


/*------------------------- Footer---------------------- */
footer{
    font-family: 'inter',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

footer{
    width: 100%;
    color: var(--color-neutral-40);
    border-top: 1px solid black;
}

.footer_link{
    text-decoration: none;
}

#footer_content{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 3rem 3.5rem;

}

#footer_contacts h2{
    margin-bottom: 0.75em;
    color: #000;
}
#footer_contacts p{
    color: #000;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius:50%;
    transition: all 0.4s;
}
#footer_social_media .footer_link i{
    font-size: 1.25rem;
}

#footer_social_media .footer_link:hover{
    
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992,#ff9807);
}

#facebook{
    background: #4267b3;
}

#whatsapp{
    background:#25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    
}

.footer-list .footer_link{
    color: var(--color-neutral-0);
    transition: all 0.4s;
}
.footer-list h3{
    color: #0e0c0c;
}

.footer-list h3:hover{
    color:rgb(16, 107, 16) ;
}

.footer-list a{
    color: black;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe {
    color: black;
}

#input_group{
    display: flex;
    align-items: center;
    border-radius: 4px;
}

#input_group input{

    all: unset;
    padding: 0.75rem;
    width: 100%;

}

#input_group  button{
    background-color: rgb(7, 104, 7);
    border: 1px solid black;
    color: var(--color-neutral-40);
    font-size: 1.125rem;
    padding: 0px 1.125rem;
    height: 100%;
    border-radius: 2px 4px 4px 2px;
    cursor: pointer;
    transition: all 0.4s;
    width: 70%;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    color: #000;
    border-top:1px solid black;
    background-color: white;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;

}

/*-----------------------Media Queries-----------------------*/

@media (min-width: 200px) and (max-width: 349px) {

    nav {
        height: 15vh;
    }

    .logo {
        width: 190px;
    }

    .links-navbar ul {
        height: 29px;
    }

    .nav-list li {
        letter-spacing: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .nav-list li a {
        padding: 5px 7px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 400;
        font-size: smaller;
    }

    .nav-list li {
        white-space: nowrap;
    }
    

    /*---horario queries-----*/

    .titulo-horario h1 {
        width: 65px;
        height: 20px;
        padding: 2px;
        font-size: small;
    }

    .titulo-horario {
        padding-left: 10px;
    }

    #tabela-horario {
        padding-left: 2px;
    }


    table {
        margin: 20px 0px 2px;
        border: 1px solid black;
        background: white;
        width: 250px;
        /* border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        */
        border-radius: 25px;
    }

    tr {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        font-size: small;
    }

    td,
    th {
        padding: 4px 20px;
        border: 1px solid black;
        border-radius: 25px;
    }

    /*-----------footer querie------------*/

    


}

@media (min-width: 350px) and (max-width: 589px) {

    nav {
        height: 15vh;
    }

    .logo {
        width: 190px;
    }

    .links-navbar ul {
        height: 29px;
    }

    .nav-list li {
        letter-spacing: 0px;
        margin-left: 4px;
        margin-right: 4px;
    }

    .nav-list li a {
        padding: 5px 7px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 500;
        font-size: smaller;
    }

    .nav-list li {
        white-space: nowrap;
    }

    /*Horario queries---*/

    #conteudo {
        margin: 10px;
    }

    .titulo-horario h1 {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: medium;
        text-align: center;
    }

    .titulo-horario {
        padding-left: 0;
        width: 25%;

    }

    #tabela-horario {
        padding-left: 0;
    }

    table {
        margin: 10px 0;
        width: 100%;
    }

    tr {
        font-weight: 500;
        font-size: small;
    }

    td,
    th {
        padding: 3px 10px;
    }

    /*------------Footer queries ------------*/
    
    

}


@media (min-width: 590px) and (max-width: 920px) {


    .logo {

        width: 205px;
    }

    .links-navbar ul {
        height: 40px;
    }

    .nav-list li {
        letter-spacing: 2px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-list li a {
        padding: 10px 15px;
        border: 1px solid black;
        border-top: 0px;
        font-weight: 500;
    }

    .nav-list li {
        white-space: nowrap;
    }

    /*Horario queries---*/

    #conteudo {
        margin: 10px;
    }

    .titulo-horario h1 {
        width: 100%;
        height: auto;
        padding: 5px;
        font-size: large;
        text-align: center;
    }

    .titulo-horario {
        padding-left: 0;
        width: 20%;
        margin-top: 55px;
    }

    #tabela-horario {
        padding-left: 0;
    }

    table {
        margin: 10px 0;
        width: 100%;
    }

    tr {
        font-weight: 500;
        font-size: larger;
    }

    td,
    th {
        padding: 3px 10px;
    }


    /*-----FooterQuerie-----*/

    

    

    

}

@media screen and (max-width:768px) {


    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
}

@media screen and (max-width:426px) {


    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
    
}






